@resizeBox-trigger-color-background: var(~'@{arco-cssvars-prefix}-color-neutral-3');
@resizeBox-trigger-size-icon-wrapper: 6px;
@resizeBox-trigger-font-size-icon: 12px;
@resizeBox-trigger-color-icon: var(~'@{arco-cssvars-prefix}-color-text-1');
@resizeBox-trigger-icon-empty: 18px;
