@import '../../style/theme/default.less';

@form-size-mini-margin-item-bottom: @spacing-7;
@form-size-small-margin-item-bottom: @spacing-8;
@form-size-default-margin-item-bottom: @spacing-8;
@form-size-large-margin-item-bottom: @spacing-8;

@form-size-mini-font-label-size: @font-size-body-1;
@form-size-small-font-label-size: @font-size-body-3;
@form-size-large-font-label-size: @font-size-body-3;
@form-size-default-font-label-size: @font-size-body-3;
@form-font-extra-text-size: @font-size-body-1;
@form-font-error-text-size: @font-size-body-1;

@form-margin-label-right: @spacing-7;
@form-margin-extra-bottom: @spacing-2;
@form-margin-extra-top: @spacing-2;
@form-inline-margin-item-right: @spacing-9;
@form-inline-margin-item-bottom: @spacing-4;
@form-vertical-margin-label-bottom: @spacing-4;

@form-color-extra-text: var(--color-text-3);

@form-color-text-label: var(--color-text-2);

@form-color-bg_warning: var(--color-warning-light-1);
@form-color-bg_warning_hover: var(--color-warning-light-2);
@form-color-bg_warning_focus: var(--color-bg-2);
@form-color-border_warning: @color-transparent;
@form-color-border_warning_focus: @color-warning-6;
@form-color-border_warning_hover: @color-transparent;
@form-size-shadow_warning_focus: @shadow-distance-none;
@form-color-shadow_warning_focus: var(--color-warning-light-2);

@form-color-bg_success:  var(--color-fill-2);
@form-color-bg_success_hover:  var(--color-fill-3);
@form-color-bg_success_focus: var(--color-bg-2);
@form-color-border_success: @color-transparent;
@form-color-border_success_focus: @color-success-6;
@form-color-border_success_hover: @color-transparent;
@form-size-shadow_success_focus: @shadow-distance-none;
@form-color-shadow_success_focus:var(--color-success-light-2);

@form-color-bg_error: var(--color-danger-light-1);
@form-color-bg_error_hover: var(--color-danger-light-2);
@form-color-bg_error_focus: var(--color-bg-2);
@form-color-border_error: @color-transparent;
@form-color-border_error_focus: @color-danger-6;
@form-color-border_error_hover: @color-transparent;
@form-size-shadow_error_focus: @shadow-distance-none;
@form-color-shadow_error_focus: var(--color-danger-light-2);

@form-color-bg_validating: var(--color-fill-2);
@form-color-bg_validating_hover:  var(--color-fill-3);
@form-color-bg_validating_focus: var(--color-bg-2);
@form-color-border_validating: @color-transparent;
@form-color-border_validating_focus: @color-primary-6;
@form-color-border_validating_hover: @color-transparent;
@form-size-shadow_validating_focus: @shadow-distance-none;
@form-color-shadow_validating_focus: var(--color-primary-light-2);

@form-color-tip-text_success: @color-success-6;
@form-color-tip-icon-text_success: @color-success-6;
@form-color-tip-text_error: @color-danger-6;
@form-color-tip-icon-text_error: @color-danger-6;
@form-color-tip-text_warning: @color-warning-6;
@form-color-tip-icon-text_warning: @color-warning-6;
@form-color-tip-text_validating: @color-primary-6;
@form-color-tip-icon-text_validating: @color-primary-6;
