name: Preview Start

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  preview-start:
    permissions:
      issues: write
      pull-requests: write
    name: start preview info
    runs-on: ubuntu-latest
    steps:
      - name: update status comment
        uses: mshick/add-pr-comment@v2
        env:
          PR_NUMBER: ${{ github.event.number }}
        with:
          message: Prepare preview
