name: auto-release
on: create
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Get the version
        id: get_version
        run: echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT

      - name: create-release
        if: github.event.ref_type == 'tag'
        uses: arco-design/arco-auto-release@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          changelogPaths: 'site/docs/version_v2.en-US.md,site/docs/version_v2.zh-CN.md'
          tagName: ${{ steps.get_version.outputs.VERSION }}
